<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">GEO HELPER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" routerLink="home">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="projects">Projects</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid bg-light">
    <router-outlet></router-outlet>
  <ngx-spinner
    bdColor = "rgba(51, 51, 51, 0.8)"
    size = "default"
    color = "#007bff"
    type = "line-scale-pulse-out"></ngx-spinner>
</div>
<!--<footer class="footer bg-dark">-->
  <!--<div class="container">-->
    <!--<span class="text-muted float-right">Special for NikitaDorosh</span>-->
  <!--</div>-->
<!--</footer>-->
